<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>
    <h1 class="mx-2"><span><i class="fas fa-igloo"></i></span> Bienvenido a Detalles <%=user%></h1>
    <p><a href="/home" class="link-primary">Home</a> | <a href="/salir" class="link-dark">Salir</a></p>
</body>
</html>